<!-- would not be hard to make less ugly templates than this. -->
<form id= "fileUpload">


  File to upload to S3: 
  <input id="file" name="file" type="file"> 
  <br> 
  <input type="submit" value="Upload"> 
</form>

<div style="height:24px; width:100; padding: 3px;">
  <div id="progress" style="background:#718894; width:0%; height:100%; -webkit-border-radius: 3px 3px;"></div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    var form = $('#fileUpload'),
        progress = $('#progress'),
        data = {};

    form.submit(function(event) {
      event.preventDefault();

      var file = $('#file');
      var fileName = file.val().replace(/C:\\fakepath\\/i, ''); // IE is yuk

      console.log(JSON.stringify(fileName));
      progress.text('Starting to upload file:' + fileName);
      data = { 'key': '<%= @key %>/${filename}',
               'AWSAccessKeyId': '<%= @id %>',
               'acl': 'public-read',
               'redirect': '<%= @callback %>',
               'policy': '<%= @policy %>',
               'signature': '<%= @signature %>'
             };

      $.ajax( {
        dataType: 'iframe',
        iframe: true,
        fileInput: file,
        processData: true,
        contentType: false,
        type: 'POST',
        url: '<%= AWS_HOST %>',
        formData: data,
        xhrFields: {
          withCredentials: true
        },

        complete: function(response) {
          progress.css('width', '0%');
          progress.text('File upload done. Sending callback.');
          console.log(response);
          $.ajax( {
            type: 'POST',
            url: '<%= @callback %>',
            dataType: 'json',
            data: {upload: {filename: fileName, key: '<%= @key %>'}},
            success: function(response) {
              progress.text('Finished.');
              console.log(response);
              form.hide();
            }
          });
        }
      });
    });
  });
</script>